.Main
{
    background-color:#edf2f6;
    background-image:none;
    margin:0px;
    padding:0px;
}

#mainLogin {
	text-align: left;
	margin: auto;
	width: 809px;
	background-image:url(../_imagens/background_login.gif);
	height:625px;
	overflow:auto;
	position:relative;
}
#FormLogin
{
    width:275px;
    height:175px;
    margin-top:285px;
    margin-left:320px;
}
.LoginLabel {
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #6c84b0;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    float:left;
    width:60px;
}
.LoginEdit {
	BORDER-RIGHT: silver 1px solid;
	BORDER-TOP: silver 1px solid;
	FONT-SIZE: 9px;
	BORDER-LEFT: gray 1px solid;
	BORDER-BOTTOM: gray 1px solid;
	FONT-STYLE: normal;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	float:left;
	width:125px;
}
.Botao {
	BORDER-RIGHT: #cccccc 1px outset;
        BORDER-TOP: #cccccc 1px outset;
        FONT-WEIGHT: bolder;
        FONT-SIZE: 10px;
        BORDER-LEFT: #cccccc 1px outset;
        WIDTH: 75px;
        CURSOR: hand;
        BORDER-BOTTOM: #cccccc 1px outset;
        FONT-FAMILY: verdana;
        BACKGROUND-COLOR: #e4e4e4
}
.LoginLink {
    color: #555754;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
}
a.LoginLink:hover {
    color: #458f36;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
}