<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>org.SGC.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>principal</servlet-name>
        <servlet-class>org.SGC.principal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>usuarioServlet</servlet-name>
        <servlet-class>org.SGC.usuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarUsuarios</servlet-name>
        <servlet-class>org.SGC.ListarUsuarios</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>principal</servlet-name>
        <url-pattern>/principal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usuarioServlet</servlet-name>
        <url-pattern>/usuarioServlet</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>ListarUsuarios</servlet-name>
        <url-pattern>/ListarUsuarios</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
