<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>org.SGC.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>principal</servlet-name>
        <servlet-class>org.SGC.principal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>usuarioServlet</servlet-name>
        <servlet-class>org.SGC.usuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarUsuarios</servlet-name>
        <servlet-class>org.SGC.ListarUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chamadoServlet</servlet-name>
        <servlet-class>org.SGC.chamadoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>atualizaChamados</servlet-name>
        <servlet-class>org.SGC.atualizaChamados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>atualizaChamadoAcao</servlet-name>
        <servlet-class>org.SGC.atualizaChamadoAcao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>atualizaUsuario</servlet-name>
        <servlet-class>org.SGC.atualizaUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listaChamadosAbertosServlet</servlet-name>
        <servlet-class>org.SGC.listaChamadosAbertosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chamadoAcaoServlet</servlet-name>
        <servlet-class>org.SGC.chamadoAcaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chamadoConsulta</servlet-name>
        <servlet-class>org.SGC.chamadoConsulta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chamadoLista</servlet-name>
        <servlet-class>org.SGC.chamadoLista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filtrarUsuarios</servlet-name>
        <servlet-class>org.SGC.filtrarUsuarios</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>principal</servlet-name>
        <url-pattern>/principal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usuarioServlet</servlet-name>
        <url-pattern>/usuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarUsuarios</servlet-name>
        <url-pattern>/ListarUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chamadoServlet</servlet-name>
        <url-pattern>/chamadoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>atualizaChamados</servlet-name>
        <url-pattern>/atualizaChamados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>atualizaChamadoAcao</servlet-name>
        <url-pattern>/atualizaChamadoAcao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>atualizaUsuario</servlet-name>
        <url-pattern>/atualizaUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listaChamadosAbertosServlet</servlet-name>
        <url-pattern>/listaChamadosAbertosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chamadoAcaoServlet</servlet-name>
        <url-pattern>/chamadoAcaoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chamadoConsulta</servlet-name>
        <url-pattern>/chamadoConsulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chamadoLista</servlet-name>
        <url-pattern>/chamadoLista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filtrarUsuarios</servlet-name>
        <url-pattern>/filtrarUsuarios</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
